body{
    background-color: lightskyblue;
    background-image: linear-gradient(90deg, white, #2eacd4);
    font-family: 'Times New Roman', Times, serif;
}

.button{
    background-color: white;
    width: 100px;
    height: 30px;
    border-color: red;
    border-radius: 12px;
}

.MemoDropdown {
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#contextCheckboxes {
    display: none;
    border: 1px #8DF5E4 solid;
}

#contextCheckboxes label {
    display: block;
}

#contextCheckboxes label:hover {
    background-color: #4F615E;
    color: white;
    /* Added text color for better visibility */
}